In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

In [12]:
mets2020roster = pd.read_csv("mets2020roster.csv", index_col='Name')
mets2020roster

,Age,Unnamed: 2,B,T,Ht,Wt,DoB,Yrs,G,GS,...,CF,RF,OF,DH,PH,PR,WAR,Salary,Unnamed: 28,Name-additional
Name,,,,,,,,,,,,,,,,,,,,,
Pete Alonso,25,us US,R,R,"6' 3""",245,Dec 7 1994,2,57,55,...,0,0,0,17,2,0,0.2,NaN,NaN,alonspe01
Dellin Betances,32,us US,R,R,"6' 8""",265,Mar 23 1988,9,15,0,...,0,0,0,0,0,0,-0.2,"$7,500,000",NaN,betande01
Brad Brach,34,us US,R,R,"6' 6""",215,Apr 12 1986,10,14,0,...,0,0,0,0,0,0,0.0,"$850,000",NaN,brachbr01
Robinson Canó,37,do DO,L,R,"6' 0""",228,Oct 22 1982,16,49,46,...,0,0,0,13,3,0,1.1,"$24,000,000",NaN,canoro01
Miguel Castro,25,do DO,R,R,"6' 7""",201,Dec 24 1994,6,10,0,...,0,0,0,0,0,0,0.1,NaN,NaN,castrmi01
Yoenis Céspedes,34,cu CU,R,R,"5' 11""",225,Oct 18 1985,8,8,8,...,0,0,0,8,0,0,-0.1,"$6,000,000",NaN,cespeyo01
Robinson Chirinos,36,ve VE,R,R,"6' 1""",220,Jun 5 1984,9,12,10,...,0,0,0,0,0,0,-0.1,NaN,NaN,chiriro01
Michael Conforto,27,us US,L,R,"6' 1""",215,Mar 1 1993,6,54,53,...,0,52,52,1,1,0,2.1,"$8,000,000",NaN,confomi01
Ryan Cordell,28,us US,R,R,"6' 4""",200,Mar 31 1992,3,5,2,...,4,1,5,0,0,1,-0.1,NaN,NaN,cordery01
J.D. Davis,27,us US,R,R,"6' 3""",218,Apr 27 1993,4,56,52,...,0,0,8,13,4,0,0.1,NaN,NaN,davisjd01
Jacob deGrom,32,us US,L,R,"6' 4""",180,Jun 19 1988,7,12,12,...,0,0,0,0,0,0,2.6,"$25,000,000",NaN,degroja01
Edwin Díaz,26,pr PR,R,R,"6' 3""",207,Mar 22 1994,5,26,0,...,0,0,0,0,0,0,1.4,"$5,100,000",NaN,diazed04
Brian Dozier,33,us US,R,R,"5' 11""",200,May 15 1987,9,7,4,...,0,0,0,1,1,0,-0.4,NaN,NaN,doziebr01
Jeurys Familia,30,do DO,R,R,"6' 3""",240,Oct 10 1989,9,25,0,...,0,0,0,0,0,0,0.6,"$11,666,667",NaN,familje01
Todd Frazier,34,us US,R,R,"6' 3""",215,Feb 12 1986,10,14,12,...,0,0,0,0,0,0,0.2,NaN,NaN,frazito01
Andrés Giménez,21,ve VE,L,R,"5' 11""",161,Sep 4 1998,1st,49,29,...,0,0,0,0,4,5,1.0,NaN,NaN,gimenan01
Robert Gsellman,26,us US,R,R,"6' 4""",200,Jul 18 1993,5,6,4,...,0,0,0,0,0,0,-0.5,"$1,225,000",NaN,gsellro01
Luis Guillorme,25,ve VE,L,R,"5' 10""",190,Sep 27 1994,3,30,15,...,0,0,0,0,7,1,0.7,NaN,NaN,guilllu01
Billy Hamilton,29,us US,B,R,"6' 0""",160,Sep 9 1990,8,17,5,...,13,0,13,1,1,6,-0.1,NaN,NaN,hamilbi02
Guillermo Heredia,29,cu CU,R,L,"5' 10""",195,Jan 31 1991,5,7,5,...,7,0,7,0,1,1,0.1,NaN,NaN,heredgu01
Jared Hughes,34,us US,R,R,"6' 7""",240,Jul 4 1985,10,18,0,...,0,0,0,0,0,0,-0.2,NaN,NaN,hugheja02
Ariel Jurado,24,pa PA,R,R,"6' 2""",240,Jan 30 1996,3,1,1,...,0,0,0,0,0,0,-0.2,NaN,NaN,juradar01
Franklyn Kilome,25,do DO,R,R,"6' 6""",175,Jun 25 1995,1st,4,0,...,0,0,0,0,0,0,-0.3,NaN,NaN,kilomfr01
Juan Lagares,31,do DO,R,R,"6' 2""",219,Mar 17 1989,8,2,0,...,2,0,2,0,0,1,0.1,NaN,NaN,lagarju01
Walker Lockett,26,us US,R,R,"6' 5""",225,May 3 1994,3,2,1,...,0,0,0,0,0,0,0.1,NaN,NaN,lockewa01
Seth Lugo,30,us US,R,R,"6' 4""",225,Nov 17 1989,5,16,7,...,0,0,0,0,0,0,0.3,"$2,000,000",NaN,lugose01
Jake Marisnick,29,us US,R,R,"6' 4""",220,Mar 30 1991,8,16,8,...,16,0,16,0,0,1,0.2,"$3,312,000",NaN,marisja01
Steven Matz,29,us US,R,L,"6' 2""",201,May 29 1991,6,9,6,...,0,0,0,0,0,0,-1.0,"$5,000,000",NaN,matzst01
Jeff McNeil,28,us US,L,R,"6' 1""",195,Apr 8 1992,3,52,50,...,0,4,30,2,2,0,1.5,NaN,NaN,mcneije01
Tomás Nido,26,pr PR,R,R,"6' 0""",211,Apr 12 1994,4,7,7,...,0,0,0,0,0,0,0.2,NaN,NaN,nidoto01
Brandon Nimmo,27,us US,L,R,"6' 3""",206,Mar 27 1993,5,55,50,...,44,10,55,0,1,1,1.8,"$2,175,000",NaN,nimmobr01
Eduardo Núñez,33,do DO,R,R,"6' 0""",195,Jun 15 1987,11,2,0,...,0,1,1,1,0,1,0.0,"$100,000",NaN,nunezed02
Corey Oswalt,26,us US,R,R,"6' 5""",250,Sep 3 1993,3,4,1,...,0,0,0,0,0,0,0.1,NaN,NaN,oswalco01
David Peterson,24,us US,L,L,"6' 6""",240,Sep 3 1995,1st,10,9,...,0,0,0,0,0,0,1.6,NaN,NaN,peterda01
Rick Porcello,31,us US,R,R,"6' 5""",205,Dec 27 1988,12,12,12,...,0,0,0,0,0,0,0.2,"$10,000,000",NaN,porceri01
Erasmo Ramírez,30,ni NI,R,R,"6' 0""",220,May 2 1990,9,6,0,...,0,0,0,0,0,0,0.8,NaN,NaN,ramirer02
Wilson Ramos,32,ve VE,R,R,"6' 1""",241,Aug 10 1987,11,45,39,...,0,0,0,1,4,0,0.3,"$10,250,000",NaN,ramoswi01
René Rivera,36,pr PR,R,R,"5' 10""",215,Jul 31 1983,12,2,1,...,0,0,0,0,1,0,0.1,NaN,NaN,riverre01
Amed Rosario,24,do DO,R,R,"6' 2""",190,Nov 20 1995,4,46,37,...,0,0,0,0,3,1,0.1,NaN,NaN,rosaram01
Ali Sánchez,23,ve VE,R,R,"6' 1""",200,Jan 20 1997,1st,5,4,...,0,0,0,0,0,0,-0.1,NaN,NaN,sanchal04
Paul Sewald,30,us US,R,R,"6' 3""",219,May 26 1990,4,5,0,...,0,0,0,0,0,0,-0.3,NaN,NaN,sewalpa01
Chasen Shreve,29,us US,L,L,"6' 4""",180,Jul 12 1990,7,17,0,...,0,0,0,0,0,0,0.3,"$100,000",NaN,shrevch01
Dominic Smith,25,us US,L,L,"6' 0""",224,Jun 15 1995,4,50,48,...,0,0,23,5,2,0,2.0,NaN,NaN,smithdo02
Drew Smith,26,us US,R,R,"6' 2""",190,Sep 24 1993,2,8,0,...,0,0,0,0,0,0,-0.1,NaN,NaN,smithdr01
Hunter Strickland,31,us US,R,R,"6' 3""",225,Sep 24 1988,7,4,0,...,0,0,0,0,0,0,-0.1,NaN,NaN,strichu01
Michael Wacha,28,us US,R,R,"6' 6""",215,Jul 1 1991,8,8,7,...,0,0,0,0,0,0,-0.2,"$3,000,000",NaN,wachami01
Justin Wilson,32,us US,L,L,"6' 2""",205,Aug 18 1987,9,23,0,...,0,0,0,0,0,0,0.2,"$5,000,000",NaN,wilsoju10

In [14]:
braves2020roster = pd.read_csv("braves2020roster.csv", index_col='Name')
phillies2020roster = pd.read_csv("phillies2020roster.csv", index_col='Name')
marlins2020roster = pd.read_csv("marlins2020roster.csv", index_col='Name')

In [18]:
nl_east_2020_roster = pd.concat([mets2020roster,braves2020roster,phillies2020roster,marlins2020roster])
nl_east_2020_roster
nl_east_2020_roster.to_csv("nl_east_2020_roster.csv")

,Age,Unnamed: 2,B,T,Ht,Wt,DoB,Yrs,G,GS,...,CF,RF,OF,DH,PH,PR,WAR,Salary,Unnamed: 28,Name-additional
Name,,,,,,,,,,,,,,,,,,,,,
Pete Alonso,25.0,us US,R,R,"6' 3""",245.0,Dec 7 1994,2,57.0,55.0,...,0.0,0.0,0.0,17.0,2.0,0.0,0.2,NaN,NaN,alonspe01
Dellin Betances,32.0,us US,R,R,"6' 8""",265.0,Mar 23 1988,9,15.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.2,"$7,500,000",NaN,betande01
Brad Brach,34.0,us US,R,R,"6' 6""",215.0,Apr 12 1986,10,14.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$850,000",NaN,brachbr01
Robinson Canó,37.0,do DO,L,R,"6' 0""",228.0,Oct 22 1982,16,49.0,46.0,...,0.0,0.0,0.0,13.0,3.0,0.0,1.1,"$24,000,000",NaN,canoro01
Miguel Castro,25.0,do DO,R,R,"6' 7""",201.0,Dec 24 1994,6,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.1,NaN,NaN,castrmi01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Alex Vesia,24.0,us US,L,L,"6' 1""",209.0,Apr 11 1996,1st,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.6,NaN,NaN,vesiaal01
Jonathan Villar,29.0,do DO,B,R,"6' 0""",233.0,May 2 1991,8,30.0,29.0,...,2.0,0.0,2.0,3.0,1.0,0.0,0.0,"$8,200,000",NaN,villajo01
Nick Vincent,33.0,us US,R,R,"5' 10""",185.0,Jul 12 1986,9,21.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.4,NaN,NaN,vinceni01
Chad Wallach,28.0,us US,R,R,"6' 2""",246.0,Nov 4 1991,4,15.0,13.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.2,NaN,NaN,wallach01
Jordan Yamamoto,24.0,us US,R,R,"5' 11""",201.0,May 11 1996,2,4.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.1,NaN,NaN,yamamjo01